---
layout: default
permalink: /projects/
title: Projects
description: A showcase of my favourite software projects I am actively building.
---

{% for project in site.projects %}
  <h2 id="{{ project.id }}">{{ project.name }}<a href="#{{ project.id }}"></a></h2>
  {{ project.content }}
  <figure>
    <a href="/images/{{ project.screenshot }}">
      <img src="/images/{{ project.screenshot }}" alt="{{ project.name }} screenshot">
    </a>
    <figcaption>{{ project.caption }}</figcaption>
  </figure>
  <h3>Technologies</h3>
  <ul>
    {% for technology in project.technologies %}
      <li>{{ technology }}</li>
    {% endfor %}
  </ul>
{% endfor %}
